#navigationButton{
	-fx-background-color:transparent;
	-fx-padding:12;
}

#navigationButton:hover{
	-fx-background-color:#ffffff33;
}

#navigationSubBackground{
	-fx-background-color:#3498db;
}

#listButton{
	-fx-background-color:transparent;
	-fx-padding:0;
	-fx-background-radius:4;
	-fx-border-radius:4;
}

#listButton:hover{
	-fx-background-color:#3498dbBD;
}

#searchTextfield{
	-fx-background-radius:100;
	-fx-border-radius:100;
	-fx-border-width:2;
	-fx-border-color:black;
}
#searchTextfield:focused{
	-fx-background-radius:100;
	-fx-border-radius:100;
	-fx-border-width:2;
	-fx-border-color: #3498dbBD;
}

.list{
	-fx-padding:0 0 0 0;
	-fx-background-color:transparent;
}

.list > .viewport{
	-fx-background-color:transparent;
}

.list  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
 
.list .increment-button , .list .decrement-button {
    -fx-background-color:transparent;
	 -fx-border-color:transparent;
}
 
.list .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:transparent;
}

.list .thumb{
	-fx-background-color:#3498db33;
	-fx-background-radius:20;
}

.list .scrollbar{
	-fx-background-color:transparent;
}
