#scrollPane{
	-fx-padding:0 0 0 20;
	-fx-background-color:transparent;
}

#scrollPane > .viewport{
	-fx-background-color:transparent;
}

#scrollPane  .scroll-bar:vertical{
    -fx-background-color:transparent;
 
}
 
#scrollPane .increment-button ,#scrollPane .decrement-button {
    -fx-background-color:transparent;
	 -fx-border-color:transparent;
}
 
#scrollPane .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:transparent;
}