#scrollPane{
	-fx-padding:0 0 0 0;
	-fx-background-color:transparent;
}

#scrollPane > .viewport{
	-fx-background-color:transparent;
}

#scrollPane  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
 
#scrollPane .increment-button , .list .decrement-button {
    -fx-background-color:transparent;
	 -fx-border-color:transparent;
}
 
#scrollPane .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:transparent;
}

#scrollPane .thumb{
	-fx-background-color:#3498db33;
	-fx-background-radius:20;
}

#scrollMessage .scrollbar{
	-fx-background-color:transparent;
}