#fillButton{
	-fx-background-color:transparent;
}

#fillButton:hover{
	-fx-background-color:#3498db33;
}

#moreButton{
	-fx-background-color:transparent;
	-fx-background-radius:50;
	-fx-border-radius:50;
}

#moreButton:hover{
	-fx-background-color:#3498dbBF;
}