#scrollMember{
	-fx-padding:0 0 0 0;
	-fx-background-color:transparent;
}

#scrollMember > .viewport{
	-fx-background-color:transparent;
}

#scrollMember  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
 
#scrollMember .increment-button , .list .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:transparent;
}
 
#scrollMember .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:transparent;
}

#scrollMember .thumb{
	-fx-background-color:#3498db33;
	-fx-background-radius:20;
}

#scrollMember .scrollbar{
	-fx-background-color:transparent;
}

#meberButton{
	-fx-background-color:transparent;
	-fx-background-radius: 50;
	-fx-border-radius:50;
}